
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BedRoom</title>
</head>
<body>
    <h1>Yatak odası anasayfası</h1>
</body>
</html>
