
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Favorites</title>
    
</head>
<body>
    <p>
       Favoriler sayfanızı görüntülüyorsunuz.
    </p>
</body>
</html>
